.root {
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e99ce9;
}

.headerContainer h1 {
  font-size: 2rem;
  font-family: "Kalam", cursive;
  color: white;
}

@media screen and (max-width: 480px) {
  .headerContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #e99ce9;
    height: 10vh;
  }
  .headerContainer img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
  }
}

@media screen and (min-width: 481px) {
  .headerContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .headerContainer img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
  }
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
    height: 80vh;
  }
}

@media screen and (min-width: 481px) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  border: 1px solid black;
}

@media screen and (max-width: 480px) {
  .formCardContainer .formCard {
    width: 60%;
    height: 70%;
    border: 2px solid black;
    background-color: lightseagreen;
  }
}

.button-demo .p-button {
  margin-right: 0.5rem;
}

.button-demo .p-buttonset .p-button {
  margin-right: 0;
}

.button-demo .template .p-button i {
  line-height: 2.25rem;
}

.button-demo .template .p-button.google {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--purple-600)), color-stop(50%, var(--purple-700)));
  background: linear-gradient(to left, var(--purple-600) 50%, var(--purple-700) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--purple-700);
}

.button-demo .template .p-button.google:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.google i {
  background-color: var(--purple-700);
}

.button-demo .template .p-button.google:focus {
  -webkit-box-shadow: 0 0 0 1px var(--purple-400);
          box-shadow: 0 0 0 1px var(--purple-400);
}

.button-demo .template .p-button.youtube {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--pink-600)), color-stop(50%, var(--pink-700)));
  background: linear-gradient(to left, var(--pink-600) 50%, var(--pink-700) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--pink-700);
}

.button-demo .template .p-button.youtube:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.youtube i {
  background-color: var(--pink-700);
}

.button-demo .template .p-button.youtube:focus {
  -webkit-box-shadow: 0 0 0 1px var(--pink-400);
          box-shadow: 0 0 0 1px var(--pink-400);
}

.button-demo .template .p-button.vimeo {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--green-200)), color-stop(50%, var(--green-300)));
  background: linear-gradient(to left, var(--green-200) 50%, var(--green-300) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--green-300);
}

.button-demo .template .p-button.vimeo:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.vimeo i {
  background-color: var(--green-300);
}

.button-demo .template .p-button.vimeo:focus {
  -webkit-box-shadow: 0 0 0 1px var(--green-400);
          box-shadow: 0 0 0 1px var(--green-400);
}

.button-demo .template .p-button.facebook {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--indigo-600)), color-stop(50%, var(--indigo-700)));
  background: linear-gradient(to left, var(--indigo-600) 50%, var(--indigo-700) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--indigo-700);
}

.button-demo .template .p-button.facebook:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.facebook i {
  background-color: var(--indigo-700);
}

.button-demo .template .p-button.facebook:focus {
  -webkit-box-shadow: 0 0 0 1px var(--indigo-400);
          box-shadow: 0 0 0 1px var(--indigo-400);
}

.button-demo .template .p-button.twitter {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--blue-400)), color-stop(50%, var(--blue-500)));
  background: linear-gradient(to left, var(--blue-400) 50%, var(--blue-500) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--blue-500);
}

.button-demo .template .p-button.twitter:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.twitter i {
  background-color: var(--blue-500);
}

.button-demo .template .p-button.twitter:focus {
  -webkit-box-shadow: 0 0 0 1px var(--blue-200);
          box-shadow: 0 0 0 1px var(--blue-200);
}

.button-demo .template .p-button.slack {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--orange-400)), color-stop(50%, var(--orange-500)));
  background: linear-gradient(to left, var(--orange-400) 50%, var(--orange-500) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--orange-500);
}

.button-demo .template .p-button.slack:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.slack i {
  background-color: var(--orange-500);
}

.button-demo .template .p-button.slack:focus {
  -webkit-box-shadow: 0 0 0 1px var(--orange-200);
          box-shadow: 0 0 0 1px var(--orange-200);
}

.button-demo .template .p-button.amazon {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--yellow-400)), color-stop(50%, var(--yellow-500)));
  background: linear-gradient(to left, var(--yellow-400) 50%, var(--yellow-500) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--yellow-500);
}

.button-demo .template .p-button.amazon:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.amazon i {
  background-color: var(--yellow-500);
}

.button-demo .template .p-button.amazon:focus {
  -webkit-box-shadow: 0 0 0 1px var(--yellow-200);
          box-shadow: 0 0 0 1px var(--yellow-200);
}

.button-demo .template .p-button.discord {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--bluegray-700)), color-stop(50%, var(--bluegray-800)));
  background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--bluegray-800);
}

.button-demo .template .p-button.discord:hover {
  background-position: left bottom;
}

.button-demo .template .p-button.discord i {
  background-color: var(--bluegray-800);
}

.button-demo .template .p-button.discord:focus {
  -webkit-box-shadow: 0 0 0 1px var(--bluegray-500);
          box-shadow: 0 0 0 1px var(--bluegray-500);
}

@media screen and (max-width: 960px) {
  .button-demo .p-button {
    margin-bottom: 0.5rem;
  }
  .button-demo .p-button:not(.p-button-icon-only) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .button-demo .p-buttonset .p-button {
    margin-bottom: 0;
  }
}

.drinkCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radioInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 480px) {
  .drinkCard .drinkName {
    font-size: 2em;
  }
  .drinkCard .drinkImage {
    width: 80%;
  }
}

@media screen and (min-width: 481px) {
  .drinkCard .drinkName {
    font-size: 2em;
  }
  .drinkCard .drinkImage {
    width: 80%;
  }
}

.navCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .navCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    width: 60%;
    height: 40%;
  }
}

@media screen and (min-width: 481px) {
  .navCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    width: 5em;
    height: 10em;
  }
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  background-color: lightgray;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */